header{ height: 64px; }

nav{
  display: flex;
  justify-content: center;
  background-color: $color-1;
  
  .nav-wrapper{
    width: 100%;
    margin: 0 -6px;
    padding: 0 $padding;
    li{
      i{ 
        padding: 0 1rem;
        cursor: pointer;
        color: lighten(#000, 12%);
        &:hover{ color: #000; }
      }
    }
  }
}