$width: 1000px;
$padding: 15px;

$color-1: #38435A;
$color-2: #4A5158;
$bgColor: #F6F8FA;
$btnColor: #338CCD;
$btnHover: lighten(#338CCD, 10%);
$gray: #e9ecef;

$header: 64px;
$content: 768px;

@keyframes cardAppear{
  from{
    margin-bottom: 10%;
    opacity: 0;
  }
  to{
    margin-bottom: 0%;
    opacity: 1;
  }
}

@-webkit-keyframes cardAppear{
  from{
    margin-bottom: 10%;
    opacity: 0;
  }
  to{
    margin-bottom: 0%;
    opacity: 1;
  }
}