@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import '_variables';
@import '_md';
@import '../js/components/editor/Editor';
@import '../js/components/base/Base';
@import '../js/components/auth/Auth';
@import '../js/components/post/Post';
@import '../js/components/snapshot/SnapShot';
@import '../js/components/user/User';

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100%;
  font-family: 'Nanum Gothic', sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: $bgColor;
}