.main-column{
  width: 290px; 
  padding: 0 $padding;
  margin: 47px auto;
  
  &.left{
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.14);
    }

  &.right{

    .user-profile{
      height: 74px;
      padding: 12px 0;
      border-bottom: 1px solid #E0E0E0;
      display: flex;
      align-content: center;

      .user-img-0{
        height: 50px;
        padding: 0 8px;
      }

      .user-name{
        font-size: 20px;
        line-height: 50px;
        height: 50px;
      }
    }
  }
}