@import './AsideNav/AsideNav';
@import './Header/Header';
@import './Chat/Chat';

.btn, .btn-large{
  color: #fefefe;
  font-weight: bold;
  border-radius: 5px;
}

.btn, .btn-large{ background-color: $btnColor; }
.btn:hover, .btn-large:hover{ background-color: $btnHover; }
.btn:focus, .btn-large:focus{ background-color: $btnColor; }

.floatBtn{
  position: fixed;
  border-radius: 50%;
}

.content-wrapper{
  width: 100%;
  height: calc(100% - 64px);
  display: flex;
  justify-content: space-between;
}