.chat-body{
  width: 100%;
  flex: 1;
  padding: .5rem;
  background-color: #fff;
  overflow-y: auto;
  font-size: .9rem;

}

.message{
  display: flex;
  .thumbnail{ width: 2rem; height: 2rem; }
}

.message-text{
  margin: 0 .5rem;
  padding: .5rem; 
  flex: 1;
  border-radius: 1rem;
  background-color: #f5f5f5;
}

.date{
  margin: 0 1rem;
  font-size: .8rem;
}