@import '_variables';
@import '_md';

/* initial style */
.input-field input,
.input-field textarea{
  border-bottom: 1px solid darken(#fff, 40%) !important;
  box-shadow: 0 1px 0 0 darken(#fff, 50%) !important;
}
.input-field input:focus + label,
.input-field textarea:focus + label{
  color: darken(#fff, 30%) !important; 
}
.input-field input:focus,
.input-field textarea:focus{
  border-bottom: 1px solid $color-2 !important;
  box-shadow: 0 1px 0 0 $color-2 !important;
}
.btn, .btn-large{
  color: #000;
  font-weight: bold;
  background-color: darken(#fff, 20%)
}
.btn:hover, .btn-large:hover{
  background-color: darken(#fff, 10%)
}


.input-field{
  color: #fff;

  label{
    color: darken(#fff, 40%);
  }
}

.submit-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  z-index: 999;

  .submit-card{
    background-color: #4A5158;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    padding: 1.5rem;

    .submit-header{
      margin-bottom: 3rem;
      font-weight: bold;
      font-size: 2rem;
      color: darken(#fff, 10%);
    }

    .file-field{
      margin-top: 1rem;
      padding: 0;
    }
  }
}

#editSection{
  width: 100%;

  .tui-editor-contents{ 
    font-size: 16px; 

    pre{
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      background: #1E1E1E;
      color: #DCDCDC;
      border-radius: 5px;
    }
  }
  
  .CodeMirror{
    font-size: 16px;
    background-color: #282a36 !important;
    color: #f8f8f2 !important;
    border: none;
  }

  .CodeMirror-gutters { color: #282a36; }
  .CodeMirror-cursor { border-left: solid thin #f8f8f0; }
  .CodeMirror-linenumber { color: #6D8A88; }
  .CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
  .CodeMirror-line::selection, .cm-s-dracula .CodeMirror-line > span::selection, .cm-s-dracula .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
  .CodeMirror-line::-moz-selection, .cm-s-dracula .CodeMirror-line > span::-moz-selection, .cm-s-dracula .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }

  span.cm-comment { color: #6272a4; }
  span.cm-string, .cm-s-dracula span.cm-string-2 { color: #f1fa8c; }
  span.cm-number { color: #bd93f9; }
  span.cm-variable { color: #50fa7b; }
  span.cm-variable-2 { color: white; }
  span.cm-def { color: #50fa7b; }
  span.cm-operator { color: #ff79c6; }
  span.cm-keyword { color: #ff79c6; }
  span.cm-atom { color: #bd93f9; }
  span.cm-meta { color: #f8f8f2; }
  span.cm-tag { color: #ff79c6; }
  span.cm-attribute { color: #50fa7b; }
  span.cm-qualifier { color: #50fa7b; }
  span.cm-property { color: #66d9ef; }
  span.cm-builtin { color: #50fa7b; }
  span.cm-variable-3, .cm-s-dracula span.cm-type { color: #ffb86c; }

  .CodeMirror-activeline-background { background: rgba(255,255,255,0.1); }
  .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }
}