@import '_variables';

.main-column{
  width: 290px; 
  padding: 0 $padding;
  
  &.left{
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.14);
  }

  &.right{
    margin: 47px auto;
  }
}

.postcard-list{
  flex: 1;
  padding: 0 $padding;
  margin: 47px auto;

  .postcard{
    width: 100%;
    height: 100px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.05);
    box-shadow: 0 0 4px rgba(0,0,0,.05);
    margin-bottom: 21px;
    
  }
}