.post-nav{
  width: 290px; 
  padding: 0 $padding;
  margin: 47px 0;
  @media (max-width: 1024px) {
    display: none;
  }
  
  .post-navitem{ padding: 0 8px; }

  .user-profile{
    height: 74px;
    padding: 12px 0;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    align-content: center;
  }
  .user-img-0{
    height: 50px;
    padding: 0 8px;
    img{ height: 50px; }
  }
  .user-name{
    font-size: 20px;
    line-height: 50px;
    height: 50px;
  }
}