@import './PostHead/PostHead';
@import './PostBody/PostBody';
@import './PostComment/PostComment';
@import './PostList/PostList';
@import './Editor/Editor';

.article-wrapper{
  max-width: 935px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem; 
}