@import './SSItem/SSItem';
@import './SSWrite/SSWrite';

.snapshot-wrapper{
  max-width: 1080px;
  margin: 0 auto;
  height: calc(100% - 64px);
  display: flex;
  justify-content: center;
  
  .snapshot-nav{ padding: 0 $padding; margin: 47px 0; }
  .snapshot-aside{ padding: 0 $padding; margin: 47px 0; }
  .snapshot-column{ padding: 16px 0; margin: 47px; }
}