.snapshot-item{
  width: 100%;
  max-width: 600px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-color: #fff;
  &+&{
    margin-top: 60px;
  }
  
  .post-wrapper{ color: #000; }
  img{ width: 100% }
  .postcard{
    margin: 16px;
    padding: 0 16px;
    border-left: 2px solid $color-1;
    .title{
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: .5rem;
    }
  }
  .post-thumbnail{
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 300px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .white-space{ 
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #dee2e6;
    }
    i{ color: #B2BECB; font-size: 102px; }
  }
}

.snapshot-head{
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  img{
    margin: 8px;
    display: inline-block;
    background: black center center no-repeat;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .date{ font-size: .7rem;}
}

.snapshot-body{ padding: 0 16px 10px 16px; font-size: 1.5rem; }