.snapshot-item{
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-color: #fff;
  &+&{
    margin-top: 60px;
  }

  img{ width: 100% }
  .postcard{
    width: 100%;
    max-width: 400px;
  }
}

.snapshot-head{
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  img{
    margin: 8px;
    display: inline-block;
    background: black center center no-repeat;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .date{ font-size: .7rem; }
}

.snapshot-body{ padding: 0 16px 10px 16px; }

.snapshot-replies{
  border-top: 1px solid #e6e6e6;
  padding: 16px;
  input{ all:unset; }
  input:focus:not([readonly]){ all:unset; }
  .reply{
    width: 100%;
    display: flex;
    align-items: center;
    img{
      display: inline-block;
      background: black center center no-repeat;
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
    .body{ flex: 1; }
  }
}
