@import './ChatHead/ChatHead';
@import './ChatBody/ChatBody';
@import './ChatInput/ChatInput';

.chat-warpper{
  width: 284px;
  height: 335px;
  margin-right: 9px;
  position: fixed;
  bottom: 0;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  z-index: 999;
}