.snapshot-replies{
  border-top: 1px solid #e6e6e6;
  padding: 16px;
  .reply{
    width: 100%;
    display: flex;
    align-items: flex-start;
    img{
      display: inline-block;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
    }
    .body, .body:focus{
      margin-left: .5rem;
      padding: .5rem; 
      flex: 1;
      border-radius: 1rem;
      background-color: #f5f5f5;
      a{ font-weight: bold; margin-right: .5rem; }
    }
    .options{
      margin-left: .5rem;
      padding: .5rem;
      display: flex;
      font-size: .9rem;
      .delete{ cursor: pointer; color: #039be5; }
      .delete:after{
        content: "·";
        color: #000;
        display: inline-block;
        text-align: center;
        width: 1rem;
        font-weight: bold;
      }
    }
    input, input:focus{
      background-color: lighten(#3498db, 40%) !important;
      &::placeholder{ color: #adadad }
    }
    button{ margin-left: .5rem; }
  }
  input{ all:unset; }
  input:focus:not([readonly]){ all:unset; }
  .reply+.reply{ margin-top: .5rem; }
}